<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()" name="loginForm">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng_disabled="!loginForm.$valid">Log in</button>
        </label>
      </div>
    </form>
    <div class="center" style="padding-top: 30px"><button class="button button-outline button-positive icon-left button-small ion-person-add" ng-click="signUp()">
      Sign up
    </button></div>

    <div class="card" ng-show="valid_user">
      <div class="item item-text-wrap" style="text-align: center">
        用户名或密码错误！
      </div>
    </div>
  </ion-content>
</ion-modal-view>
